- if controller.controller_path =~ /^groups/
  - label = 'This group'
- if controller.controller_path =~ /^projects/
  - label = 'This project'

.search.search-form{class: "#{'has-location-badge' if label.present?}"}
  = form_tag search_path, method: :get, class: 'navbar-form' do |f|
    .search-input-container
      .search-location-badge
        - if label.present?
          %span.location-badge
            %i.location-text
              = label
      .search-input-wrap
        .dropdown{ data: {url: search_autocomplete_path } }
          = search_field_tag "search", nil, placeholder: 'Search', class: "search-input dropdown-menu-toggle", spellcheck: false, tabindex: "1", autocomplete: 'off',  data: { toggle: 'dropdown' }
          .dropdown-menu.dropdown-select
            = dropdown_content do
              %ul
                %li
                  %a.is-focused.dropdown-menu-empty-link
                    Loading...
            = dropdown_loading
        %i.search-icon
        %i.clear-icon.js-clear-input

    = hidden_field_tag :group_id, @group.try(:id)
    = hidden_field_tag :project_id, @project && @project.persisted? ? @project.id : '', id: 'search_project_id'

    - if @project && @project.persisted?
      - if current_controller?(:issues)
        = hidden_field_tag :scope, 'issues'
      - elsif current_controller?(:merge_requests)
        = hidden_field_tag :scope, 'merge_requests'
      - elsif current_controller?(:wikis)
        = hidden_field_tag :scope, 'wiki_blobs'
      - elsif current_controller?(:commits)
        = hidden_field_tag :scope, 'commits'
      - else
        = hidden_field_tag :search_code, true

    - if @snippet || @snippets
      = hidden_field_tag :snippets, true
    = hidden_field_tag :repository_ref, @ref
    = button_tag 'Go' if ENV['RAILS_ENV'] == 'test'
    .search-autocomplete-opts.hide{:'data-autocomplete-path' => search_autocomplete_path, :'data-autocomplete-project-id' => @project.try(:id), :'data-autocomplete-project-ref' => @ref }
